.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
form {
    border: 2px solid #a7a7a7;
    border-radius: 20px;
    padding: 15px;
}
label {
    margin-bottom: 5px;
}
input {
    margin-bottom: 15px;
    height: 25px;
}
.submit-button {
    margin: auto;
    height: 50px;
    width: 45%;
    background-color: dodgerblue;
    color: white;
    font-size: 20pt;
    box-shadow: none;
    border: none;
}

